.regular-12px-20px {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
}

.regular-16px-24px {
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}


.semibold-12px-20px {
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
}

.semibold-16px-24px {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}